.wrapper {
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    font-size: 2rem;
}

.wrapper:hover label {
    color: blueviolet;
    cursor: pointer;
}

.accordion-item {
    max-width: 300rem;
    position: relative;
}

.accordion-item:hover label {
    color: rgb(10, 222, 99);
}

.accordion-item__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion-item__trigger {
    display: block;
    padding: 20px;
    border: 1px solid blue;
}

.accordion-item__content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border: 1px solid blue;
    border-top: none;
    cursor: pointer;
    height: 0;
    transition: all 5s ease-in-out;


}

.accordion-item label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.7rem 1.5rem;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}


.accordion-item__input:checked~.accordion-item__content,
.accordion-item:hover .accordion-item__content {
    height: 15rem;
    padding: 1.5rem 0.5rem;
}


.accordion-item__input:checked~.accordion-item__trigger {
    background-color: #eee;
}


.accordion-item__trigger:before {
    content: '+';
    float: right;
}

.accordion-item__input:checked~.accordion-item__trigger:before {
    content: '-';
}